[user]
	email = liuheihei677@163.com
	name = 0x1B05
[core]
	editor = nvim
[color]
	ui = true
[url "ssh://git@github/"]
	insteadOf = https://github.com/
	insteadOf = http://github.com/
[merge]
	ff = only
[alias]
