/* Colors */

@define-color background @background;
@define-color groupbackground @background;
@define-color buttoncolor @secondary;
@define-color bordercolor @primary;
@define-color fontcolor @on_surface;
@define-color fontcolor @on_surface;

* {
    font-family: "Fira Sans Semibold";
}

/* Control Center */

.control-center {
    border: 3px solid @bordercolor;
    padding: 15px;
}

button {
    border: 0px;
    min-width: 35px;
    background: @buttoncolor;
    color: @on_secondary;
}

.notification-group-header {
    font-size: 24px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin:5px;
}

/* Notification */

.notification {
    border: 3px solid @bordercolor;
	border-radius: 10px;
    padding:15px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: 20px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  /* Notification time-ago */
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: 18px;
  font-weight: normal;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.notification-default-action:hover,
.notification-action:hover {
    color: #ffffff;
    background: transparent;
}
